@media (min-width: 1200px)
    .container
        width: auto
    .header
        &-button
            &__line
                display: none
    .nav
        &__link:hover
            color: $blue
            transition-duration: 0.3s
        &__button:hover
            color: $dark
            border-color: $dark
            transition-duration: 0.3s
    .collection
        &__link:hover
            opacity: 0.8
            transition-duration: 0.3s
    .card
        &-collection:hover
            background-color: $blue
            opacity: 0.9
    .slider
        &__link:hover
            color: $dark
            transition-duration: 0.3s
    .slider
        &-button
            &-prev:hover
                border-color: $dark
            &-next:hover
                border-color: $text
    .footer
        &__item:hover
            color: $blue
            transition-duration: 0.3s
    .hero
        &__button:hover
            background-color: $dark
            opacity: 0.9
    .newsletter
        &__button:hover
                opacity: 0.9
    .story
        &__wrapper
            border-top: 1px solid #E5EAF4
    .card
        &__basket:hover
            opacity: 0.8
            transition-duration: 0.4s
    .slider1
        height: 389px
    .feedback
        &__container
            min-height: 389px
        &__wrapper
            min-height: 389px
    .swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets
        height: 8px

@media (max-width: 1200px)
    .header
        &-button
            &__line
                display: none
    .hero
        padding: 130px 0 80px
        &__container
            width: 95%
            margin: auto
        &__wrapper
            position: relative
            background-color: #E8EAE9
            overflow: hidden
            border-radius: 8px
            background-image: url(../img/hero-background.png)
            background-repeat: no-repeat
            background-position: 260px -330px
            &::before
                content: ""
                position: absolute
                top: 0
                left: 260px
                bottom: 0
                right: 0
                width: 100%
                height: 100%
                background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%)
    .collection
        &__container
            width: 90%
            margin: auto
        &__wrapper
            display: flex
            flex-direction: column
            padding: 0 0 80px 0
        &__pictures
            width: 100%
        &__little-pictures
            width: 100%
        &__image
            &--little
                width: 100%
                object-fit: cover
        &__info
            padding: 40px 0 0 0
            width: 100%
    .items
        &__container
            width: 80%
            margin: auto
        &__wrapper
            padding: 0 0 32px 0
    .card-collection
        width: 65%
        &:hover
            background-color: $blue
            opacity: 0.9
    .story
        &__container
            width: 90%
        &__wrapper
            padding: 80px 0 80px
            display: flex
            flex-direction: column
            align-items: center
        &__info
            flex-direction: column
            align-items: center
        &__title
            width: 100%
            margin-bottom: 16px
            text-align: center
        &__text
            width: 510px
            margin-bottom: 36px
            text-align: center
        &__button
            margin-bottom: 36px
    .newsletter
        &__container
            width: 80%
            margin: auto
        &__wrapper
            flex-direction: column
            padding: 72px 0 80px
        &__oval
            position: absolute
            &--before
                left: 0
                width: 100%
                object-position: -485px -680px
            &--after
                right: 0
                width: 100%
                object-position: 500px 300px
        &__title
            margin-bottom: 14px
            text-align: center
            width: 100%
        &__description
            text-align: center
            margin-bottom: 56px
    .footer
        &__container
            width: 90%
    .product, .services, .company
        margin-right: 15px
        width: 145px
    .social
        margin-right: 20px
    .slider
        &__link:hover
            color: $dark
            transition-duration: 0.5s
            
@media (max-width: 992px)
    .nav
        &__li:not(:first-child)
            margin-left: 30px
        &__link:hover
            color: $dark
        &__button:hover
            color: $blue
            border-color: $blue
    .header
        &__wrapper
            height: 64px
        &-button
            &__line
                display: none
    .hero
        padding-top: 74px
    .logo
        &__dark
            width: 89px
            height: 28px
    .items
        &__container
            max-width: 608px
            margin: auto
        &__wrapper
            padding: 0 0 32px 0
        &__text
            display: flex
            flex-direction: column
            margin: 0 0 56px
        &__title
            margin: 0 0 28px
    .card
        width: 280px
        margin-bottom: 48px
        &__wrapper
            width: 280px
            border-radius: 8px
            overflow: hidden
        &__info
            width: 280px
        &__image
            &--one
                width: 100%
                height: 100%
                object-position: 0px 0px
            &--two
                width: 220%
                height: 220%
                object-position: -90px -40px
            &--three
                width: 160%
                height: 160%
                transform: scale(-1, 1)
                object-position: -25 px -40px
            &--four
                width: 160%
                height: 160%
                object-position: -60px -120px
            &--five
                width: 125%
                height: 125%
                object-position: -12px -15px
            &--six
                width: 250%
                height: 250%
                object-position: -120px -45px
            &--seven
                width: 210%
                height: 200%
                object-position: -120px -5px
        &__basket:hover
            opacity: 1
    .card-collection
        width: 280px
        &:hover
            background-color: $blue
            opacity: 1
    .feedback
        &__container
            max-width: 630px
            margin: auto
            padding: 0 0 80px
        &__quote
            margin-bottom: 12px
        &__text
            margin-bottom: 36px
        &__author
            margin-bottom: 41px
    .footer
        &__container
            max-width: 672px
            margin: auto
            padding: 64px 0 64px
        &__wrapper
            max-width: 641px
            margin-left: 11px
        &__top
            margin-bottom: 0
        &__items
            display: flex
            flex-direction: row
            flex-wrap: wrap
            margin-bottom: 16px
    .social
        width: 253px
        margin-right: 30px
        &__li
            margin-right: 6px
    .product
        width: 165px
        margin-right: 28px
        margin-bottom: 48px
    .company
        width: 165px
        margin-right: 28px
    .services
        width: 165px
        margin-right: 0
        margin-bottom: 48px
    .more
        width: 165px
    .slider
        &__link:hover
            color: $blue
        &-button
            &-prev:hover
                border-color: $text
            &-next:hover
                border-color: $dark
    .slider1
        height: 415px
    .newsletter
        &__button:hover
                opacity: 1

@media (max-width: 768px)
    .header
        &__container
            max-width: 650px
        &__wrapper
            margin-top: 8px
        &-button
                display: flex
        &__mobile
    .nav
        display: none
    .mobile
        &--visible
            display: block
            position: fixed
            top: 10px
            left: 8px
            right: 8px
            background-color: #ffffff
            box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
            padding: 36px 24px
            z-index: 150
            height: 284px
        &__close
            position: absolute
            right: 20px
            top: 16px
    .menu
        &__ul
            list-style: none
            margin: 0
            padding: 0
        &__li
            margin-bottom: 20px
        &__link
            text-decoration: none
            font-weight: 600
            font-size: 16px
            line-height: 22px
            text-align: center
            color: $dark
        &__button
            font-weight: bold
            font-size: 16px
            line-height: 22px
            color: $blue
            background-color: #fff
            width: 100%
            padding: 9px
            border: 2px solid $blue
            border-radius: 8px
    .hero
        padding: 102px 0 80px
        &__container
            width: 97%
            margin: auto
        &__wrapper
            max-height: 624px
            background-position: 35px -360px
            &::before
                left: 35px
        &__information
            position: absolute
            top: 36px
            left: 28px
            bottom: 36px
        &__hashtag
            margin: 0 0 24px
        &__title
            font-size: 48px
            line-height: 60px
            width: 407px
            margin: 0 0 20px 0
        &__text
            font-size: 18px
            line-height: 32px
            width: 400px
            margin: 0 0 36px 0
        &__button
            font-size: 18px
            line-height: 25px
            margin: 0 0 40px 0
    .advantages
        &__ul
            display: flex
            align-items: flex-start
            height: 36px
        &__li:not(:last-child)
            margin-right: 20px
            margin-bottom: 20px
    .collection
        &__container
            width: 672px
            margin: auto
        &__wrapper
            display: flex
            flex-direction: column
            padding: 0 0 80px 0
        &__image
            &--little
                width: 100%
                object-fit: cover
        &__info
            padding: 40px 0 0 0
        &__title
            font-weight: bold
            font-size: 48px
            line-height: 60px
            max-width: 672px
            margin: 0 0 18px 0
        &__text
            font-size: 20px
            line-height: 36px
            margin: 0 0 30px 0
    .items
        &__container
            max-width: 608px
            margin: auto
        &__wrapper
            padding: 0 0 32px 0
        &__text
            display: flex
            flex-direction: column
            margin: 0 0 56px
        &__title
            margin: 0 0 28px
        &__ul
            display: flex
            justify-content: space-between
            width: 366px
        &__li
            margin: 0
    .card
        width: 280px
        margin-bottom: 48px
        &__wrapper
            width: 280px
            border-radius: 8px
            overflow: hidden
        &__info
            width: 280px
        &__image
            &--one
                width: 100%
                height: 100%
                object-position: 0px 0px
            &--two
                width: 220%
                height: 220%
                object-position: -90px -40px
            &--three
                width: 160%
                height: 160%
                transform: scale(-1, 1)
                object-position: -25px -40px
            &--four
                width: 160%
                height: 160%
                object-position: -60px -120px
            &--five
                width: 125%
                height: 125%
                object-position: -12px -15px
            &--six
                width: 250%
                height: 250%
                object-position: -130px -45px
            &--seven
                width: 210%
                height: 200%
                object-position: -105px -5px
    .card-collection
        width: 280px
        &__title
            margin-top: 25px
            margin-bottom: 0
    .story
        &__tag
            margin-bottom: 24px
    .slider-button-prev, .slider-button-next
        height: 56px
        width: 56px
    .slider
        margin-top: 0
    .newsletter
        &__oval
            position: absolute
            &--before
                left: 0
                width: 100%
                object-position: -430px -480px
            &--after
                right: 0
                width: 100%
                object-position: 380px 300px

@media (max-width: 740px)
    .items
        &__container
            width: 90%
            margin: auto
        &__wrapper
            padding: 0 0 28px 0
        &__text
            display: flex
            flex-direction: column
            margin: 0 0 36px
        &__title
            font-size: 28px
            line-height: 36px
            margin: 0 0 24px
        &__ul
            display: flex
            justify-content: space-between
            width: 290px
        &__li
            font-size: 16px
            line-height: 22px
            margin-left: 0
        &__li:not(:last-child)
            margin-right: 16px
    .card
        width: 140px
        height: 234px
        margin-bottom: 20px
        &__info
            position: absolute
            left: 0
            right: 0
            bottom: 0
            top: 170px
            background-color: $light
            z-index: 2
            padding: 13px 4px 4px
            width: 100%
            height: 64px
            z-index: 100
            padding: 13px 4px 4px 0
        &__wrapper
            height: 170px
            width: 140px
            border-radius: 8px
            overflow: hidden
        &__image
            &--two
                width: 200%
                height: 200%
                object-position: -35px -15px
            &--three
                width: 140%
                height: 140%
                transform: scale(-1, 1)
                object-position: -5px -15px
            &--four
                width: 140%
                height: 140%
                object-position: -10px -45px
            &--five
                width: 130%
                height: 130%
                object-position: -5px -10px
            &--six
                width: 200%
                height: 200%
                object-position: -30px -15px
            &--seven
                width: 160%
                height: 160%
                object-position: -25px 0
        &__pricetag
            display: flex
            justify-content: flex-start
            align-items: center
        &__title
            font-size: 16px
            line-height: 20px
        &__price
            font-size: 14px
            line-height: 24px
            margin-right: 12px
        &__basket
            height: 32px
            width: 14px
        &-collection
            background-color: $blue
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            border-radius: 8px
            height: 170px
            width: 140px
            padding: 0
            &__title
                font-family: "HK Grotesk"
                font-style: normal
                font-weight: bold
                font-size: 20px
                line-height: 24px
                text-align: center
                letter-spacing: 0.2px
                color: #fff
                margin: 21px 0 0
    .collection
        &__container
            width: 90%
            margin: auto
        &__wrapper
            display: flex
            padding: 0 0 64px 0
        &__pictures
            flex-direction: column
            width: 100%
        &__image
            width: 100%
            object-fit: cover
            margin: 0
            &--big
                height: 300px
            &--little
                width: 48%
                height: 97px
        &__little-pictures
            display: flex
            flex-direction: row
            margin-top: 14px
            height: 97px
            margin-bottom: 36px
            width: inherit
        &__info
            padding: 0
        &__title
            font-size: 28px
            line-height: 36px
            margin: 0 0 16px 0
            display: flex
            justify-content: center
        &__text
            font-size: 16px
            line-height: 28px
            margin-bottom: 24px
            text-align: center
        &__link
            display: flex
            justify-content: center
        &__arrow
            margin-left: 30px
    .feedback
        &__container
            max-width: 90%
            margin: auto
            padding: 0 0 64px
        &__quote
            height: 81px
            width: 70px
            margin-bottom: 13px
        &__text
            font-size: 18px
            line-height: 36px
            margin-bottom: 24px
        &__author
            margin-bottom: 29px
            display: flex
            flex-direction: column
        &__name
            &::before
                content: "- "
    .story
        &__container
            width: 95%
            margin: auto
        &__wrapper
            padding: 48px 0 40px
        &__title
            font-size: 28px
            line-height: 36px
            margin-bottom: 16px
            width: 100%
        &__text
            font-size: 16px
            line-height: 28px
            margin-bottom: 36px
            width: 90%
    .slider
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        &-button
            &-prev
                padding: 17px 17px 15px 18px
            &-next
                padding: 17px 17px 15px 18px
        &__card
            width: 280px
            height: 407px
            margin-bottom: 24px
        &__image
            height: 277px
            width: 270px
        &__title
            font-size: 20px
            line-height: 24px
            margin-bottom: 16px
        &__info
            width: 270px
            height: 150px
            padding: 20px
    .slider2
        width: 100%
    .footer
        &__container
            width: 90%
            padding: 48px 0 64px
        &__wrapper
            width: 95%
            margin-left: 0
        &__items
            flex-wrap: wrap
            order: -1
            justify-content: space-between
            margin-bottom: 47px
        &__top
            flex-direction: column
        &__bottom
            display: none
        &__title
            font-size: 16px
            line-height: 22px
            margin-bottom: 20px
        &__item
            font-size: 14px
            line-height: 20px
        &__li:not(:last-child)
            margin-bottom: 15px            
    .social
        width: 100%
        margin: 0
        display: flex
        flex-direction: column
        align-items: center
        &__logo
            width: 77px
            height: 24px
            margin-bottom: 16px
        &__text
            text-align: center
            font-size: 14px
            line-height: 24px
            margin-bottom: 16px
    .product
        width: 120px
        height: 202px
        margin: 0 0 39px
    .company
        width: 150px
        height: 167px
        margin: 0
    .services
        width: 107px
        height: 202px
        margin: 0 0 39px
    .more
        width: 102px
        height: 132px
        margin: 0

@media (max-width: 640px)
    .card-collection
        width: 140px
    .company
        width: 100px

@media (max-width: 576px)
    .header
        &__wrapper
            height: 64px
        &__container
            width: 90%
    .hero
        padding: 24px 0 64px
        &__container
            width: 100%
            margin: 0
        &__wrapper
            background-position: -20px -360px
            &::before
                left: -40px
    .newsletter
        &__container
            width: 90%
            margin: auto
            padding: 64px 0 64px
            height: 414px
        &__wrapper
            flex-direction: column
            width: 100%
            padding: 0
        &__text
            width: 100%
        &__title
            font-size: 28px
            line-height: 36px
            margin-bottom: 24px
            width: 100%
            text-align: center
        &__description
            font-size: 16px
            line-height: 28px
            width: 100%
            text-align: center
            margin: auto
        &__form
            width: 100%  
            margin-top: 36px
        &__input
            height: 48px
        &__button
            position: static
            width: 100%
            border-radius: 8px
            top: 0
            right: 0
            bottom: 0
            padding: 12px 24px 11px 
        &__image
            top: 20px
        &__oval
            position: absolute
            &--before
                width: 100%
                object-position: -230px -100px
            &--after
                display: none
        .error
            margin: 0
            font-size: 10px
            

@media (min-width: 320px) and (max-width: 480px)
    .header
        &__wrapper
            margin-top: 0
    .hero
        padding: 88px 0 64px
        &__container
            width: 100%
            margin: 0
            right: 0
        &__wrapper
            border-radius: 0
            min-height: 899px
            bottom: 0
            left: 0
            right: 0
            background-position: -375px -348px
            &::before
                left: 0
                background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%)
        &__information
            top: 381px
            left: 20px
            right: 20px
            bottom: 36px
            display: flex
            flex-direction: column
            align-items: center
            z-index: 100
        &__hashtag
            font-size: 14px
            line-height: 20px
            padding: 2px 26px
            margin: 0 0 20px
        &__title
            font-size: 32px
            line-height: 40px
            max-width: 280px
            text-align: center
            margin: 0 0 20px
        &__text
            font-size: 16px
            line-height: 28px
            max-width: 280px
            text-align: center
            margin: 0 0 22px 0
        &__button
            margin: 0 0 22px 0
            font-size: 16px
            line-height: 22px
            padding: 13px 24px
    .advantages
        &__ul
            display: flex
            flex-direction: row
            flex-wrap: wrap
            min-width: 291px
            justify-content: space-around
        &__li
            &--images
                height: 15px
                width: 15px
        &__li:not(:last-child)
            margin-right: 16px
            margin-bottom: 16px
        &__border
            padding: 5px 5px 3px 5px
    .collection
        &__container
            width: 90%
            margin: auto
        &__wrapper
            display: flex
            padding: 0 0 64px 0
        &__pictures
            flex-direction: column
            width: 100%
        &__image
            width: 100%
            object-fit: cover
            margin: 0
            &--big
                height: 300px
            &--little
                width: 48%
                height: 97px
        &__little-pictures
            display: flex
            flex-direction: row
            margin-top: 14px
            height: 97px
            margin-bottom: 36px
            width: inherit
        &__info
            padding: 0
        &__title
            font-size: 28px
            line-height: 36px
            margin: 0 0 16px 0
            display: flex
            justify-content: center
        &__text
            font-size: 16px
            line-height: 28px
            margin-bottom: 24px
            text-align: center
        &__link
            display: flex
            justify-content: center
            font-size: 16px
            line-height: 22px
        &__arrow
            margin-left: 30px
    .items
        &__li:not(:last-child)
            margin-right: 14px
    .card-collection
        height: 170px
        width: 140px
    .slider1
        height: 555px
    .feedback
        &__container
            min-height: 555px
        &__wrapper
            min-height: 555px
        &__author
            margin-bottom: 24px
    .swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets
        height: 8px
    .story
        border-top: 1px solid #E5EAF4
        &__tag
            padding: 2px 12px
        &__button
            margin-bottom: 26px
    .slider-button-prev
        width: 48px
        height: 48px
        margin-right: 16px
    .slider-button-next
        width: 48px
        height: 48px
    .footer
        &__container
            width: 100%
            margin: auto
        &__wrapper
            width: 263px
            margin-left: 24px
        &__items
            width: 246px
    .product
        width: 113px
        margin: 0 0 39px
    .company
        width: 88px
        margin: 0
    .services
        width: 102px
        margin: 0 0 39px
    .more
        width: 102px
        margin: 0
    .social
        &__logo
            width: 90px
            height: 28px
            margin-bottom: 14px
